<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="col-12">
        <form class="row g-3 mt-4" action="" method="post" enctype="multipart/form-data">
          <div class="col-md-6">
            <label for="name" class="form-label">
              Nombre (Requerido)
            </label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="col-md-6">
            <label for="link" class="form-label">
              Enlace
            </label>
            <input type="password" class="form-control" name="link" id="link">
          </div>
          <div class="col-md-6">
            <label for="location" class="form-label">
              Ubicación (Requerido)
            </label>
            <input type="text" class="form-control" id="location" name="location" required>
          </div>
          <div class="col-md-6">
            <label for="picture" class="form-label">
              Foto (Requerido)
            </label>
            <input class="form-control" type="file" id="picture" name="picture" required accept="image/jpeg">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
