<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="" method="post" enctype="multipart/form-data">
      <input type="text" name="name" value="" placeholder="name">
      <input type="text" name="link" value="" placeholder="link">
      <input type="text" name="location" value="" placeholder="location">
      <input type="file" name="picture" value="" accept="image/jpeg">
      <button type="submit">
        Submit
      </button>
    </form>
  </body>
</html>
